// Mobile
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 10px;
  }

  .header,
  .footer {
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
  }

  .card {
    margin: 10px 0;
  }
}

// Tablet
@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    padding: 0 20px;
  }

  .header,
  .footer {
    text-align: center;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    margin: 15px 0;
  }
}

// Desktop
@media only screen and (min-width: 769px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 0 30px;
  }

  .header,
  .footer {
    text-align: left;
  }

  .nav-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .card {
    margin: 20px 0;
  }
}

.search-navbar {
  .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .btn-category {
      flex: 1 1 auto; // Permitir que los botones se ajusten
      margin: 0.5rem; // Espaciado entre botones
    }
  }

  .btn-group.two-rows {
    // Ajustar para que se vean en dos filas
    max-width: 85%; // Ajustar según sea necesario para tu diseño
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .search-navbar .btn-group {
    flex-direction: row; // Asegurar que siga siendo fila
    flex-wrap: wrap; // Permitir que se envuelva
  }

  .search-navbar .btn-category {
    flex: 1 1 45%; // Ajustar para que los botones ocupen menos espacio
    margin: 0.2rem; // Ajustar el margen para pantallas pequeñas
  }
}

@media (max-width: 480px) {
  .search-navbar .btn-group {
    flex-direction: column; // Cambiar a columna en pantallas muy pequeñas
    align-items: center;
  }

  .search-navbar .btn-category {
    width: 100%; // Asegurar que los botones ocupen todo el ancho
    margin: 0.2rem 0; // Ajustar el margen para pantallas pequeñas
  }
}
.productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .producto {
    flex: 1 1 16%; // Ajustar para que las cards ocupen el 16% del ancho en pantallas grandes
    margin: 0.5rem;
    
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;

        img {
          max-width: 90%;
          height: auto;
          margin: 0 auto; // Centrar la imagen horizontalmente
        }

        .tituloPrecio1 {
          font-size: 1rem; // Reducir el tamaño del texto
          margin-top: 0.5rem;
          text-align: center; // Centrar el texto
        }

        .tituloImportante2 {
          font-size: 1.2rem; // Reducir el tamaño del texto
          font-weight: bold;
          text-align: center; // Centrar el texto
        }

        .tituloPequeño1,
        .tituloPequeño4 {
          font-size: 0.8rem; // Reducir el tamaño del texto
          margin-bottom: 0.5rem;
          text-align: center; // Centrar el texto
        }

        .botonEncargar {
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          font-size: 0.9rem; // Reducir el tamaño del texto
        }
      }
    }
  }
}

// Media query para pantallas grandes
@media (max-width: 1200px) {
  .productos-contenedor {
    .producto {
      flex: 1 1 16%; // Ajustar para que las cards ocupen el 16% del ancho
    }
  }
}

// Media query para pantallas medianas
@media (max-width: 992px) {
  .productos-contenedor {
    .producto {
      flex: 1 1 30%; // Ajustar para que las cards ocupen el 30% del ancho
    }
  }
}

// Media query para pantallas pequeñas
@media (max-width: 768px) {
  .productos-contenedor {
    .producto {
      flex: 1 1 45%; // Ajustar para que las cards ocupen el 45% del ancho
    }
  }
}

// Media query para pantallas muy pequeñas
@media (max-width: 576px) {
  .productos-contenedor {
    .producto {
      flex: 1 1 100%; // Ajustar para que las cards ocupen el 100% del ancho
    }
  }
}
