//---------------------ESTILOS MAIN----------------------------//

//-----------OBJETOS CENTRADOS-----------------//
.objetoCentrado {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.objetoCentrado1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

//------------------------------------------------//

.objetoCostadoDerecho1 {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

//------------------ITEM CLASS--------------------------//
.item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.item img {
  min-width: 250px;
  width: 75%;
  height: auto;
}
