//---------------------ESTILOS HEADER----------------------------//

/* Estilos para la barra de navegación */
.navbar {
  background-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.navbar-nav .nav-link {
  text-align: center;
}

/* Estilos para el enlace del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(164, 7, 99);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(255, 255, 255);
}

/* Estilos para el encabezado */
.encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 200, 0.209);
  margin-bottom: 10px;
  padding: 10px;
}

/* Estilos para la imagen dentro del botón del menú hamburguesa en pantallas pequeñas */
.menu-logo,
.menu-logo1 {
  width: 50%;
  height: auto;
  margin-top: 40px;
  padding: 10px;
}

.menu-logo1 {
  width: 70%;
}

/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  border-radius: 20px;
}

.navbar-toggler {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  margin-top: 35px;
  padding: 0px;
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 30%;
  height: auto;
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  height: auto;
  position: sticky;
}

/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%;
  height: auto;
}

.imagenHeader1:hover {
  animation: shake 0.5s ease;
}

/* Estilos para el contenedor del header */
.header {
  background-color: #ffffff4d;
  padding: 0;
  margin: 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.logo {
  height: 40px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #ff00c3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-bottom nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.cart-info {
  display: flex;
  align-items: center;
}

.cart-info i {
  margin-right: 5px;
}

.cart-info span {
  background-color: #ff00c3;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}
