//---------------------ESTILOS HEADER----------------------------//

/* Estilos para la barra de navegación */
.navbar {
  background-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

/* Cambia el color de los enlaces de navegación */
.navbar-nav .nav-link {
  text-align: center;
  color: #ff02b3; // Cambia este color al que desees
  font-size: x-large;
}

/* Cambia el color de los enlaces del menú específico */
.menu-link {
  color: #ae00ff; // Cambia este color al que desees
}

/* Cambia el color de los enlaces del menú al pasar el mouse */
.menu-link:hover {
  color: rgb(168, 53, 120); // Color cuando se pasa el mouse
}

/* Cambia el color de los enlaces activos */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item.active .nav-link:hover {
  color: rgb(
    255,
    255,
    255
  ); // Color cuando está activo o cuando se pasa el mouse sobre el enlace activo
}

/* Estilos para el encabezado */
.encabezado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(255, 0, 200, 0.209);
  margin-bottom: 0px;
  padding: 0px;
}



/* Estilos para el botón de menú hamburguesa */
.navbar-toggler .navbar-toggler-icon {
  border-radius: 20px;
  color: #ffffff;
  // background-color: #ff00c3;
  // border: #000000 2px solid;
  box-shadow: 0 10px 20px rgb(255, 0, 200);
 
  background-image: url('../../../public/img/02-logos/botonmenu2.png');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.navbar-toggler {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  margin-top: 20px;
  padding: 0px;
  border: none;
}

/* Ajustes para la imagen dentro del botón del menú hamburguesa en pantallas más pequeñas */
.navbar-toggler .menu-logo {
  width: 70%;
  height: auto;
  margin-top: 40px;
  // padding: 10px;
  width: 40%;
  height: auto;
  display: flex;
  border: #ff00ee solid 1px;
  box-shadow: 0 0 20px rgb(255, 0, 200);
  align-items: center;
  justify-content: center;
  animation: shake 1s ease;
}

/* Estilos para la imagen al costado del menú hamburguesa */
.side-icon {
  width: 70px;
  height: auto;
  position: sticky;
}

/* Estilos para la imagen en el header */
.imagenHeader1 {
  width: 35%;
  height: auto;
}

.imagenHeader1:hover {
  animation: shake 0.5s ease;
}

/* Estilos para el contenedor del header */
.header {
  background-color: #ffffff4d;
  padding: 0;
  margin: 0;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  flex-direction: column; // Para pantallas pequeñas, en forma de columna
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.logo {
  height: 40px;
}

.search-bar {
  flex: 1;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 20px;
  background-color: #ff00c3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-bottom nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.cart-info {
  display: flex;
  align-items: center;
}

.cart-info i {
  margin-right: 5px;
}

.cart-info span {
  background-color: #ff00c3;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

// Media queries para responsividad
@media only screen and (min-width: 768px) {
  .header-bottom {
    flex-direction: row; // Cambia a fila en pantallas más grandes
    justify-content: space-between;
  }
}

@media only screen and (max-width: 990px) {
  .navbar-toggler {
    margin-bottom: 10px; // Reduce el margen entre el botón y el contenido colapsado
  }

  .logo {
    display: none; // Oculta la imagen de logo adicional en versiones móviles
  }
}
