//---------------------ESTILOS FOOTER----------------------------//

/* Estilos para el pie de página */
footer {
  // font-family: 'Times New Roman', Times, serif;
  background-color: rgba(255, 0, 200, 0.072);
  font-size: x-small;
  padding: 10%;
  border-radius: 30px;
  color: rgb(255, 222, 253);
  margin: 0;
  width: 40%;
  box-shadow: 0 0 40px rgba(255, 0, 140, 0.341);
}

/* Estilos para los elementos del pie de página */
.footerElements {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Estilos para los enlaces en el pie de página */
.linksFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5rem;
}

/* Estilos para los elementos de lista en el pie de página */
.linksFooter div {
  list-style: none;
}