/* Estilos para el formulario */

.contenedorFormulario {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .estiloFormulario {
    background-color: #fccef633;
    font-family: "Caveat", cursive;
    font-weight: bold;
    width: 60%;
    font-size: medium;
    color: rgb(255, 0, 230);
    border-radius: 20px;
    padding: 30px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgb(255, 0, 200);
  }
  
  /* Estilos para los campos de entrada del formulario */
  .estiloFormulario input {
    background-color: #fdc2ee;
    font-weight: bolder;
    font-style: italic;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  /* Estilos para las áreas de texto del formulario */
  .estiloFormulario textarea {
    background-color: #fdc2ee;
    color: #fff;
    font-style: italic;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;
  }
  
  .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }
  