//------------------------BOTONES-ESTILOS-------------------------//

/* Estilos para el botón de enviar del formulario */
.botonEnviar {
  background-color: #56565649;
  color: #ffffff;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: bold;
}

.botonEnviar:hover {
  color: rgb(233, 219, 130);
  background-color: rgba(88, 82, 82, 0.352);
}


/*----------------Botón Comprar----------------*/
.botonComprar {
  background-color: #ff00c8;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
 }

.botonComprar:hover {
  background-color: rgb(250, 119, 211);
  color: #ffffff;
  border: none;
}

/*----------------Botón Pagar----------------*/
.botonPagar {
  background-color: #e2d9a4c4;
  border: none;
  border-radius: 10px;
}

.botonPagar:hover {
  background-color: #69625784;
  border: none;
  border-radius: 10px;
}

/*----------------Botón "Vaciar Carrito"----------------*/
#btnVaciarCarrito {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #ff00b381;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
}

#btnVaciarCarrito:hover {
  background-color: rgb(188, 55, 146);
  color: #ffffff;
  border: none;
  animation: shake 0.5s ease;
}




/*----------------Botón Encargar----------------*/
.botonEncargar {
  padding: 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #ff00b381;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: 10px;
}

.botonEncargar:hover {
  background-color: rgb(188, 55, 146);
  color: #ffffff;
  border: none;
  animation: shake 0.5s ease;
}

/*----------------Boton Seguir comprando----------------*/
.botonSeguirComprando1 {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
}

.botonSeguirComprando1:hover {
  background-color: rgb(247, 72, 192);
  color: #ffffff;
  border: none;
  animation: shake 0.5s ease;
}

/*----------------Botón de eliminar----------------*/
.btnEliminar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #fff700;
  color: rgba(0, 0, 0, 0.665);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
}

.btnEliminar:hover {
  background-color: rgb(241, 155, 214);
  color: #ffffff;
  border: none;
}

.btn {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  background-color: #ff00b381;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
}

.btn:hover {
  background-color: rgb(188, 55, 146);
  color: #ffffff;
  border: none;
  animation: shake 0.5s ease;
}

#btnComprar {
  padding: 8px 16px;
  font-size: small;
  border: none;
  border-radius: 10px;
  // background-color: #ff00b381;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease;
  // float: right;
  // margin-top: 10px;
}

#btnComprar:hover {
  background-color: rgb(188, 55, 146);
  color: #ffffff;
  border: none;
  animation: shake 0.5s ease;
}

