//------------------------TIENDA-ESTILOS-------------------------//





.tituloPrecio1 {
  color: rgb(255, 0, 217);
  font-size: medium;
}

.tituloPrecioCarrito {
  // text-decoration: dotted;
  color: rgb(255, 255, 255);
  // font-weight: bold;
  font-size: large;
  // box-shadow: 0 0 40px rgb(255, 255, 255);
}

//------------------------MINI CARRITO COMPRAS-------------------------//
.mini-carrito {
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 40px wheat;
}

.mini-carrito2 {
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0 0 5px wheat;
  padding: 20px;
}

.listaMiniCarrito3 {
  background-color: transparent;
  box-shadow: 0 0 2px wheat;
  color: rgb(0, 0, 0);
  padding: 10px;
}

//-----------------SELECTOR DENTRO DE PRODUCTO TALLE-COLOR------------------//
.form-select {
  background-color: #491d5e8d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
}

/* Estilos para centrar y cambiar el color de fondo de las opciones de los selects */
select.form-select option {
  text-align: center;
  background-color: #745a736d;
  color: rgb(255, 255, 255);
}

/* Estilos generales */

/* Estilos del menú lateral */
.sidebar {
  background-color: #111111;
  color: #ffffff;
  padding: 20px;
}

.sidebar h3 {
  color: #bf00ff; /* Verde jade */
}

/* Estilos del banner de publicidad */
.banner {
  margin: 20px 0;
}

.banner img {
  max-width: 100%;
}

/* Estilos de la cuadrícula de productos */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ff00ae;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}

.product-card .promotion {
  background-color: rgb(255, 0, 225); /* Gama similar a aqua */
  color: #000000;
  padding: 5px 10px;
  border-radius: 3px;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oferta {
  font-size: large;
  font-family: "Caveat", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

//---------------------------------------//
.flota-carrito {
  position: fixed;
  top: 20%;
  right: 0;
  transform: translateY(-50%);
  background-color: #ff00c3bc;
  padding: 5px 0; // Reducido para achicar el recuadro
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(251, 0, 255); // Ajuste de sombra
  z-index: 1000;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.flota-carrito .nav-link {
  color: #fdfdfd;
  text-decoration: none;
  padding: 5px 5px; // Reducido para achicar el recuadro
}

.flota-carrito .nav-link:hover {
  color: #eedaff;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 0, 242, 0.573); // Ajuste de sombra
}

// Estilos para el carrito flotante en el lado izquierdo
.flota-carrito-izquierda {
  position: fixed;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
  font-weight: bold;
  background-color: #ff00c3bc;
  padding: 3px ; // Reducido para achicar el recuadro
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(251, 0, 255); // Ajuste de sombra
  z-index: 1000;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  align-items: center; // Alinea el contenido verticalmente
  justify-content: center; // Alinea el contenido horizontalmente
}

.flota-carrito-izquierda .link-carrito {
  color: #fdfdfd;
  text-decoration: none;
  padding: 3px; // Reducido para achicar el recuadro
  margin: 0; // Elimina cualquier margen
  display: flex;
  align-items: center; // Alinea el contenido verticalmente
  justify-content: center; // Alinea el contenido horizontalmente
}

.flota-carrito-izquierda .link-carrito p {
  margin: 0; // Elimina cualquier margen
  padding: 3px; // Reducido para achicar el recuadro
}

.flota-carrito-izquierda .link-carrito:hover {
  color: #eedaff;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(251, 107, 244, 0.573); // Ajuste de sombra
}
