.header {
  padding: 0;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
}

// Estructuras contenedores

.encabezadoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 200, 0.5);
  margin-bottom: 0;
  padding: 0;
}

.containerHeader {
  width: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Botón hamburguesa

.navbar-togglerHeader {
  display: none;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  margin-left: auto;
  margin-right: 20px;

  .navbar-toggler-iconHeader {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #ff4081;
    margin: 6px 0;
    transition: background-color 0.3s ease;
  }

  &:hover .navbar-toggler-iconHeader {
    background-color: #e91e63;
  }
}

// Menú en dispositivos móviles

@media (max-width: 768px) {
  .navbar-togglerHeader {
    display: block;
  }

  .header-middleHeader {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    &.open {
      display: flex;
    }

    .navbar-navHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .nav-linkHeader {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(255, 0, 170, 0.1);

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

// Menú en tablets y dispositivos de tamaño intermedio (990px a 767px)

@media (min-width: 768px) and (max-width: 990px) {
  .navbar-togglerHeader {
    display: block;
  }

  .header-middleHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-navHeader {
      display: flex;
      flex-direction: row;
      align-items: center;

      .nav-linkHeader {
        margin: 0 10px;
      }
    }
  }
}

// Imagenes logos

.logoHeader {
  width: 20%;
  margin: 10px 0;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// Textos

.tituloImportante3 {
  color: rgb(255, 0, 179);
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}

// Buscador

.search-containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.search-barHeader {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-buttonHeader {
  border: none;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e91e63;
  }
}

// Nav-bar

.navbar-navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.nav-linkHeader {
  text-align: center;
  color: rgb(255, 0, 170);
  font-size: 1.25rem;
  margin: 0 10px;
  position: relative;
  transition: color 0.3s ease;

  &:hover {
    color: rgb(142, 44, 121);
  }

  &.active {
    color: #ab516f;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff4081;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  &:hover::after {
    // transform: scaleX(1);
    // transform-origin: bottom left;
  }
}
