//sass _Header.scss //

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.logo-and-search {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.logoHeader {
  width: 20%;
  margin: 0 20px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.search-bar-containerHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-barHeader {
  border: none;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 200px; /* Ajusta según sea necesario */
}

.search-buttonHeader {
  border: none;
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e91e63;
  }
}

.d-md-none {
  @media (min-width: 769px) {
    display: none !important;
  }
}

.navbarHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.navbar-navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.nav-linkHeader {
  text-align: center;
  color: rgb(255, 0, 170);
  text-decoration: none;

  &:hover {
    color: rgb(255, 0, 150);
  }
}

.textoMenu {
  font-weight: bold;
  color: #e91e63;
}

.textoMenu1 {
  font-size: x-large;
  font-weight: bold;
  color: #ff0357;
}

.textoMenu2 {
  font-size: xx-small;
  color: #ff0357;
}

.auth-buttons {
  // display: flex;
  // align-items: center;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .logoHeader {
    width: 40%;
  }

  .search-bar-containerHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .search-barHeader {
    width: 80%;
    margin-bottom: 10px;
  }

  .search-buttonHeader {
    width: 80%;
    margin: 0;
  }

  .navbar-togglerHeader {
    display: block;
  }

  .header-topHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .logo-and-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbarHeader {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    &.open {
      display: flex;
    }

    .navbar-navHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .nav-linkHeader {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 0, 170, 0.1);

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .header-topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  .navbarHeader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .nav-linkHeader {
    margin: 0 10px;
  }
}
