.reproductor-musica {
  background: rgba(95, 14, 57, 0.801);
  box-shadow: 0 0 40px rgba(255, 0, 140, 0.467);
  border-radius: 10px;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 70px;
  right: 0px;
  width: 360px;
  z-index: 1000;
  transition: all 0.3s ease;

  &.minimized {
    width: 100px;
    height: 60px;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    .reproductor-card,
    .controls-musica,
    .volume-controls,
    .rate-controls,
    .progress-musica,
    .playlist {
      display: none;
    }
  }

  .reproductor-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      margin-right: 10px;
    }
    .reproductor-info {
      flex: 1;
      h3 {
        margin: 0px;
        padding: 0px;
        font-size: medium;
      }
      p {
        margin: 0px;
        padding: 0px;
        color: #00ffd0e4;
      }
    }
  }

  .controls-musica {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 24px;
      margin: 0 10px;
      cursor: pointer;
      &:hover {
        color: #ff69b4;
      }
    }
  }

  .volume-controls,
  .rate-controls,
  .progress-musica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    input[type='range'] {
      width: 100px;
    }

    select {
      background: rgba(95, 14, 57, 0.531);
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      padding: 5px;
    }

    progress {
      width: 100%;
      border-radius: 5px;
    }
  }

  .playlist {
    max-height: 200px;
    overflow-y: auto;

    h3 {
      margin: 0px;
    }

    ul {
      list-style: none;
      padding: 20px;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        font-size: x-small;
        border-bottom: 1px solid #00ffff;
        
        &:hover {
          color: #f6ccf6;
        }
        span {
          flex: 1;
        }

        button {
          background: none;
          border: none;
          color: #fff;
          cursor: pointer;
          &:hover {
            color: #ff69b4;
          }
        }

        &.active {
          background: rgba(255, 105, 180, 0.3);
        }
      }
    }
  }

  .toggle-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: sticky;
    bottom: 10px;
    right: 10px;

    &:hover {
      color: #00ffea;
    }
  }

  .no-songs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    .tituloReproductor1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: small;
      margin: 0;
      color: white;
      padding: 0px;
      white-space: nowrap; /* Evita el salto de línea en el texto */   
    }
    
  }
}

.imagen-publicidadReproductor {
  width: 50%;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    width: 60px;
  }
}
