/* Estilos para el formulario y carrusel */
.contenedorFormulario {
  display: flex;
  flex-wrap: wrap; /* Permitir envoltura de elementos */
  gap: 2rem; /* Espacio entre las columnas */
  padding: 2rem; /* Padding alrededor del contenedor */
}

.formulario-column, .carrusel-column {
  flex: 1; /* Ocupar espacio igualmente */
}

@media (max-width: 768px) {
  /* Estilos específicos para tablets y dispositivos móviles */
  .contenedorFormulario {
    flex-direction: column; /* Cambio a dirección de columna en dispositivos pequeños */
    align-items: center; /* Centrar elementos en la columna */
  }

  .formulario-column, .carrusel-column {
    width: 100%; /* Ajuste para ocupar todo el ancho en dispositivos pequeños */
    padding: 0; /* Quitar el padding para ocupar mejor el espacio */
  }

  .estiloFormulario {
    padding: 20px; /* Aumentar el padding para mejor legibilidad */
  }

  .estiloFormulario input, .estiloFormulario textarea {
    padding: 12px; /* Aumentar el padding para mejor legibilidad */
  }

  .objetoCentrado2 {
    text-align: center;
  }

  .tituloImportante3 {
    font-size: 100%;
  }

  .contact-grid {
    margin-top: 20px; /* Añade espacio arriba del bloque de contactos en dispositivos móviles */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    text-align: center; /* Centra los elementos de contacto */
    margin-bottom: 10px; /* Espacio entre los elementos de contacto */
  }
}

.estiloFormulario {
  background-color: #f8e1ff; /* Color de fondo más suave */
  font-family: "Caveat", cursive;
  font-weight: bold;
  width: 100%; /* Ajustar al ancho de la columna */
  font-size: medium;
  color: #d300ac; /* Cambiar el color del texto a un tono de violeta */
  border-radius: 20px;
  padding: 30px;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(211, 0, 176, 0.5); /* Sombra más suave */
}

/* Estilos para los campos de entrada del formulario */
.estiloFormulario input, .estiloFormulario textarea {
  background-color: #ffffff; /* Fondo más claro */
  font-weight: bolder;
  font-style: italic;
  color: #000000; /* Texto en color gris oscuro */
  border: 1px solid #9400d348; /* Borde en violeta */
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px; /* Mayor espacio entre los campos */
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.carrusel-column {
  width: 100%;
  max-width: 500px;
  padding-left: 20px; /* Espacio a la izquierda del carrusel */
  margin-bottom: 20px; /* Espacio abajo del carrusel en dispositivos móviles */
}

.carrusel-column img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.botonEnviar {
  background-color: #9400d3;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonEnviar:hover {
  background-color: #7b00b1; /* Cambiar el color en hover */
}
