//--------ALERTAS -TOASTIFYS-----------//

.toastify-total {
  background-color: #ff0073c1 !important; /* Color de fondo */
  color: #fff !important; /* Color del texto */
  padding: 5px !important; /* Espaciado interno */
  border-radius: 20px !important; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgb(255, 0, 149) !important; /* Sombra */
  font-size: 10px !important; /* Tamaño de fuente */
  margin-top: 2px !important; /* Ajustar distancia desde la parte superior */
  margin-left: 50px !important; /* Ajustar distancia desde el lado izquierdo */
}

/* Estilos para los botones del mensaje Toastify */
.toastify-total .toast-close-button {
  color: #fff !important; /* Color del botón */
  font-size: 14px !important; /* Tamaño de fuente */
  font-weight: bold !important; /* Peso de la fuente */
}

//-------------MODALS - ALERTS----------------//

//-----------------OFERTA-TAG------------------------//
.oferta-tag {
  background-color: rgba(176, 18, 144, 0.68);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: dotted 5px rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10; /* Ajusta este valor si es necesario */
}

/* Estilo del modal */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 0, 0, 0.559);
  z-index: 100; /* Asegúrate de que el modal tenga un z-index más alto que el cartel de oferta */
}

.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 10px;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* _13-popups-modals.scss */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999; /* Asegúrate de que el valor sea alto */
}
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0); 
  padding: 0px;
  border-radius: 50px;
  z-index: 10000;
}
  
  .modal-content {
    position: relative;
    z-index: 10001;
  
  // Media queries para dispositivos móviles y tablets
  @media (max-width: 768px) {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 400px; /* Máximo ancho para tablets */
    padding: 5px; /* Reducción del padding */

  }

  @media (max-width: 480px) {
    width: 100%; /* Ancho ajustado */
    max-width: 400px; /* Máximo ancho para móviles */
    padding: 5px; /* Reducción adicional del padding */
    top: auto;
    left: auto;
  }
  }

.modal-content {
  position: relative;
  z-index: 10001;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.modal-content table th,
.modal-content table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.modal-content table th {
  background-color: #f4f4f4;
}

.modal-content .icon-cross::before {
  content: '✗';
  color: rgb(255, 0, 162);
}

.modal-content .icon-check::before {
  content: '✓';
  color: rgb(255, 0, 179);
}

.modal-content .btn-primary {
  background-color: #ff00d0;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content .btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.622);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}

.modal-content {
  position: relative;
  background: #d000ff98;
  padding: 30px;
  border-radius: 50px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 80px;
  font-size: 60px;
  color: white;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 15px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 100px;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .oferta-tag {
    font-size: 10px;
    padding: 5px;
    border-width: 3px;
  }

  .modal-content {
    padding: 15px;
border-radius: 50px;

  }

  .close-button {
    font-size: 24px;
    right: 10px;
  }

  .prev-button, .next-button {
    font-size: 40px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .oferta-tag {
    font-size: 8px;
    padding: 3px;
    border-width: 2px;
  }

  .modal-content {
    padding: 10px;
    border-radius: 50px;
  }

  .close-button {
    font-size: 20px;
    right: 5px;
  }

  .prev-button, .next-button {
    font-size: 30px;
    padding: 5px;
  }
}
